video{
	width: 100vw;
	margin: 0 auto;
	position: fixed;
	z-index: 1;
}

body {
	background: black;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


@font-face {
	font-family: "ff";
	src: url(AtlasGrotesk-Light.otf);
}

img{
	position: fixed;
	z-index: 2;
	margin: 0 ;
	width: 100vw;
	height: auto;
}

#marquee {
   	background-color: black;
   	height: 8vh;
   	overflow:hidden;
  	white-space: nowrap;
   	color: white;
	font-size: 2em;
	font-family: "ff";
	position: fixed;
	bottom: 0;
	z-index: 3;
 }

 p{
 	margin-top: 0.3em;
 	float: left;
 }